@font-face {
    font-family: beautiful;
    src: url(../fonts/Beautiful-ES.ttf);
}
@font-face {
    font-family: jedi;
    src: url(../fonts/Starjedi.ttf);
}
@font-face {
    font-family: star;
    src: url(../fonts/Starjhol.ttf);
}