section {
    margin:0 auto;
    background:#ffffff ;
    width:97% ;
    min-height:300px ;
    border:2px solid #71d400;
    text-align: center;
    padding: 8px;
    border-radius:10px;
}
.miniaturas img {
    margin:5px;
    width: 11%;
    border:1px solid #71d400;
    border-radius:10px;
}
.miniaturas img:hover {
    transform: scale(1.1)

}

